# Проект "Выбор локации для скважины"

## Загрузка и подготовка данных

In [1]:
# Импорт необходимых библиотек

import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
import numpy as np

In [2]:
import warnings
warnings.filterwarnings("ignore")

In [3]:
data_0 = pd.read_csv('C:\\Users\\ye-ye\\Datas\\Location\\geo_data_0.csv')
data_1 = pd.read_csv('C:\\Users\\ye-ye\\Datas\\Location\\geo_data_1.csv')
data_2 = pd.read_csv('C:\\Users\\ye-ye\\Datas\\Location\\geo_data_2.csv')

In [4]:
# Для проверки на сервере

#data_0 = pd.read_csv('/datasets/geo_data_0.csv')
#data_1 = pd.read_csv('/datasets/geo_data_1.csv')
#data_2 = pd.read_csv('/datasets/geo_data_2.csv')

### Предобработка данных

In [5]:
data_0.head()

      id        f0        f1        f2     product
0  txEyH  0.705745 -0.497823  1.221170  105.280062
1  2acmU  1.334711 -0.340164  4.365080   73.037750
2  409Wp  1.022732  0.151990  1.419926   85.265647
3  iJLyR -0.032172  0.139033  2.978566  168.620776
4  Xdl7t  1.988431  0.155413  4.751769  154.036647

In [6]:
data_0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 5 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   id       100000 non-null  object
 1   f0       100000 non-null  float64
 2   f1       100000 non-null  float64
 3   f2       100000 non-null  float64
 4   product  100000 non-null  float64
dtypes: float64(4), object(1)
memory usage: 3.8+ MB

In [7]:
data_0.describe()

                  f0             f1             f2        product
count  100000.000000  100000.000000  100000.000000  100000.000000
mean        0.500419       0.250143       2.502647      92.500000
std         0.871832       0.504433       3.248248      44.288691
min        -1.408605      -0.848218     -12.088328       0.000000
25%        -0.072580      -0.200881       0.287748      56.497507
50%         0.502360       0.250252       2.515969      91.849972
75%         1.073581       0.700646       4.715088     128.564089
max         2.362331       1.343769      16.003790     185.364347

In [8]:
# Проверка наличия дубликатов

data_0.duplicated().sum()

0

In [9]:
# Проверка корреляции признаков

numeric = ['f0', 'f1', 'f2', 'product']

corr_matrix = data_0.loc[:,numeric].corr()
print(corr_matrix)

               f0        f1        f2   product
f0       1.000000 -0.440723 -0.003153  0.143536
f1      -0.440723  1.000000  0.001724 -0.192356
f2      -0.003153  0.001724  1.000000  0.483663
product  0.143536 -0.192356  0.483663  1.000000

In [10]:
data_1.head()

      id         f0         f1        f2     product
0  kBEdx -15.001348  -8.276000 -0.005876    3.179103
1  62mP7  14.272088  -3.475083  0.999183   26.953261
2  vyE1P   6.263187  -5.948386  5.001160  134.766305
3  KcrkZ -13.081196 -11.506057  4.999415  137.945408
4  AHL4O  12.702195  -8.147433  5.004363  134.766305

In [11]:
data_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 5 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   id       100000 non-null  object
 1   f0       100000 non-null  float64
 2   f1       100000 non-null  float64
 3   f2       100000 non-null  float64
 4   product  100000 non-null  float64
dtypes: float64(4), object(1)
memory usage: 3.8+ MB

In [12]:
data_1.describe()

                  f0             f1             f2        product
count  100000.000000  100000.000000  100000.000000  100000.000000
mean        1.141296      -4.796579       2.494541      68.825000
std         8.965932       5.119872       1.703572      45.944423
min       -31.609576     -26.358598      -0.018144       0.000000
25%        -6.298551      -8.267985       1.000021      26.953261
50%         1.153055      -4.813172       2.011479      57.085625
75%         8.621015      -1.332816       3.999904     107.813044
max        29.421755      18.734063       5.019721     137.945408

In [13]:
# Проверка наличия дубликатов

data_1.duplicated().sum()

0

In [14]:
# Проверка корреляции признаков

numeric = ['f0', 'f1', 'f2', 'product']

corr_matrix = data_1.loc[:,numeric].corr()
print(corr_matrix)

               f0        f1        f2   product
f0       1.000000  0.182287 -0.001777 -0.030491
f1       0.182287  1.000000 -0.002595 -0.010155
f2      -0.001777 -0.002595  1.000000  0.999397
product -0.030491 -0.010155  0.999397  1.000000

In [15]:
data_2.head()

      id        f0        f1        f2     product
0  fwXo0 -1.146987  0.963328 -0.828965   27.758673
1  WJtFt  0.262778  0.269839 -2.530187   56.069697
2  ovLUW  0.194587  0.289035 -5.586433   62.871910
3  q6cA6  2.236060 -0.553760  0.930038  114.572842
4  WPMUX -0.515993  1.716266  5.899011  149.600746

In [16]:
data_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 5 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   id       100000 non-null  object
 1   f0       100000 non-null  float64
 2   f1       100000 non-null  float64
 3   f2       100000 non-null  float64
 4   product  100000 non-null  float64
dtypes: float64(4), object(1)
memory usage: 3.8+ MB

In [17]:
data_2.describe()

                  f0             f1             f2        product
count  100000.000000  100000.000000  100000.000000  100000.000000
mean        0.002023      -0.002081       2.495128      95.000000
std         1.732045       1.730417       3.473445      44.749921
min        -8.760004      -7.084020     -11.970335       0.000000
25%        -1.162288      -1.174820       0.130359      59.450441
50%         0.009424      -0.009482       2.484236      94.925613
75%         1.158535       1.163678       4.858794     130.595027
max         7.238262       7.844801      16.739402     190.029838

In [18]:
# Проверка наличия дубликатов

data_2.duplicated().sum()

0

In [19]:
# Проверка корреляции признаков

numeric = ['f0', 'f1', 'f2', 'product']

corr_matrix = data_2.loc[:,numeric].corr()
print(corr_matrix)

               f0        f1        f2   product
f0       1.000000  0.000528 -0.000448 -0.001987
f1       0.000528  1.000000  0.000779 -0.001012
f2      -0.000448  0.000779  1.000000  0.445871
product -0.001987 -0.001012  0.445871  1.000000

Все исходные таблицы полные, пропущенных данных нет. Размерность таблиц идентичная. Предобработка данных не требуется. Дубликатов в предложенных базах нет. Средние значения сответствуют квантилю 50%. Распределение нормальное. КОрреляция между признаками низкая, необходимость исключения признаков отсутсвует. Существуют шахты с показателем сырья 0.

## Обучение и проверка модели

Подготовка признаков для региона 0:

In [20]:
data_train_0, data_valid_0 = train_test_split(
    data_0, test_size=0.25, random_state=12345, stratify = None)

In [21]:
target_train_0 = data_train_0['product']
features_train_0 = data_train_0.drop(['product','id'], axis=1)

target_valid_0 = data_valid_0['product']
features_valid_0 = data_valid_0.drop(['product','id'], axis=1)

Подготовка признаков для региона 1:

In [22]:
data_train_1, data_valid_1 = train_test_split(
    data_1, test_size=0.25, random_state=12345, stratify = None)

In [23]:
target_train_1 = data_train_1['product']
features_train_1 = data_train_1.drop(['product','id'], axis=1)

target_valid_1 = data_valid_1['product']
features_valid_1 = data_valid_1.drop(['product','id'], axis=1)

Подготовка признаков для региона 2:

In [24]:
data_train_2, data_valid_2 = train_test_split(
    data_2, test_size=0.25, random_state=12345, stratify = None)

In [25]:
target_train_2 = data_train_2['product']
features_train_2 = data_train_2.drop(['product','id'], axis=1)

target_valid_2 = data_valid_2['product']
features_valid_2 = data_valid_2.drop(['product','id'], axis=1)

Обучение моделей и проверка на валидационной выборке:

In [26]:
def fit(data, features_train, features_valid, target_train, target_valid, data_valid):
    model = LinearRegression()
    model.fit(features_train, target_train)
    prediction = model.predict(features_valid)
    data_valid['prediction'] = prediction
    print("Средний запас предсказанного сырья на валидационной выборке месторождения", data, ":", prediction.mean())
    print("RMSE модели на валидационной выборке месторождения", data, ":", mean_squared_error(target_valid, prediction))

In [27]:
fit(0, features_train_0, features_valid_0, target_train_0, target_valid_0, data_valid_0)

Средний запас предсказанного сырья на валидационной выборке месторождения 0 : 92.59256778438035
RMSE модели на валидационной выборке месторождения 0 : 1412.2129364399243

In [28]:
fit(1, features_train_1, features_valid_1, target_train_1, target_valid_1, data_valid_1)

Средний запас предсказанного сырья на валидационной выборке месторождения 1 : 68.728546895446
RMSE модели на валидационной выборке месторождения 1 : 0.7976263360391154

In [29]:
fit(2, features_train_2, features_valid_2, target_train_2, target_valid_2, data_valid_2)

Средний запас предсказанного сырья на валидационной выборке месторождения 2 : 94.96504596800489
RMSE модели на валидационной выборке месторождения 2 : 1602.3775813236196

Во всех трех месторождениях получили примерно одинаковые результаты по средним предсказаниям по модели и средней квадратной ошибке.

## Подготовка к расчёту прибыли

In [30]:
product_min = 10**10 / 200 / (450 * 10**3)
print('Достаточный объём сырья для безубыточной разработки новой скважины в 200 скважинах одного региона:', 
      product_min, 'тыс. бар.')

Достаточный объём сырья для безубыточной разработки новой скважины в 200 скважинах одного региона: 111.11111111111111 тыс. бар.

Среднее значение запасов сырья в регионах ниже минимально допустимого для безубыточной разработки.

Скважины с максимальными значениями предсказаний в регионах 0, 1, 2:

In [31]:
best_0 = data_valid_0.sort_values(by='prediction', ascending = False).head(200)
best_1 = data_valid_1.sort_values(by='prediction', ascending = False).head(200)
best_2 = data_valid_2.sort_values(by='prediction', ascending = False).head(200)

In [32]:
best_0_sum = best_0['prediction'].sum()
best_0_income = best_0_sum * 450 * 10**3
print('Целевое значение объемов сырья по 200 наиболее прибыльных шахт региона 0:', best_0_sum, 'тыс. бар.')
print('Предполагаемая прибыль при полной выработке 200 наиболее прибыльных шахт региона 0:', best_0_income, 'руб.')

Целевое значение объемов сырья по 200 наиболее прибыльных шахт региона 0: 31102.330838811384 тыс. бар.
Предполагаемая прибыль при полной выработке 200 наиболее прибыльных шахт региона 0: 13996048877.465124 руб.

In [33]:
best_1_sum = best_1['prediction'].sum()
best_1_income = best_1_sum * 450 * 10**3
print('Целевое значение объемов сырья по 200 наиболее прибыльных шахт региона 0:', best_1_sum, 'тыс. бар.')
print('Предполагаемая прибыль при полной выработке 200 наиболее прибыльных шахт региона 0:', best_1_income, 'руб.')

Целевое значение объемов сырья по 200 наиболее прибыльных шахт региона 0: 27746.026782163437 тыс. бар.
Предполагаемая прибыль при полной выработке 200 наиболее прибыльных шахт региона 0: 12485712051.973545 руб.

In [34]:
best_2_sum = best_2['prediction'].sum()
best_2_income = best_2_sum * 450 * 10**3
print('Целевое значение объемов сырья по 200 наиболее прибыльных шахт региона 0:', best_2_sum, 'тыс. бар.')
print('Предполагаемая прибыль при полной выработке 200 наиболее прибыльных шахт региона 0:', best_2_income, 'руб.')

Целевое значение объемов сырья по 200 наиболее прибыльных шахт региона 0: 29603.89865831835 тыс. бар.
Предполагаемая прибыль при полной выработке 200 наиболее прибыльных шахт региона 0: 13321754396.243258 руб.

## Расчёт прибыли и рисков

In [35]:
# Вводим функцию расчета прибыли

def revenue(target, probabilities, count):
    probs_sorted = probabilities.sort_values(ascending=False)
    selected = target[probs_sorted.index][:count]
    target_sum = 450 * 10**3 * selected.sum() - 10**10
    return target_sum

In [36]:
state = np.random.RandomState(12345)

In [ ]:
# Здесь и далее в соотвствии с ТЗ на валидационной выборке запускаем бутстреп (сэмплируем 500). 
# Берем 200 лучших по предсказанию модели, а затем анализируем таргет (фактические значения).

values_0 = []
for i in range(1000):
    subsample_0 = data_valid_0.sample(n=500, replace=True, random_state=state)
    target_subsample_0 = subsample_0['product'] 
    probs_subsample_0 = subsample_0['prediction'] 
    values_0.append(revenue(target_subsample_0, probs_subsample_0, 200))
     
values_0 = pd.Series(values_0)
lower_0 = values_0.quantile(0.025).round(2)
upper_0 = values_0.quantile(0.925).round(2)

print("Средняя прибыль, расчитанная методом 'бутстреп', основанную на предсказаниях модели по региону 0:", 
      values_0.mean(), "руб.")

In [ ]:
values_1 = []
for i in range(1000):
    subsample_1 = data_valid_1.sample(n=500, replace=True, random_state=state)
    target_subsample_1 = subsample_1['product'] 
    probs_subsample_1 = subsample_1['prediction'] 
    values_1.append(revenue(target_subsample_1, probs_subsample_1, 200))

values_1 = pd.Series(values_1)
lower_1 = values_1.quantile(0.025).round(2)
upper_1 = values_1.quantile(0.925).round(2)

print("Средняя прибыль, расчитанная методом 'бутстреп' по региону 1:", values_1.mean(), "руб.")

In [ ]:
values_2 = []
for i in range(1000):
    subsample_2 = data_valid_2.sample(n=500, replace=True, random_state=state)
    target_subsample_2 = subsample_2['product'] 
    probs_subsample_2 = subsample_2['prediction'] 
    values_2.append(revenue(target_subsample_2, probs_subsample_2, 200))

values_2 = pd.Series(values_2)
lower_2 = values_2.quantile(0.025).round(2)
upper_2 = values_2.quantile(0.925).round(2)

print("Средняя прибыль, расчитанная методом 'бутстреп' по региону 2:", values_2.mean(), "руб.")

Расчет прибыли в доверительном интервале 95% по регионам:

In [ ]:
print("Планируемая прибыль по региону 0 с вероятностью 95% будет в интервале от", 
      lower_0, "до", upper_0, "руб.")
print("Планируемая прибыль по региону 0 с вероятностью 95% будет в интервале от", 
      lower_1, "до", upper_1, "руб.")
print("Планируемая прибыль по региону 0 с вероятностью 95% будет в интервале от", 
      lower_2, "до", upper_2, "руб.")

Расчет риска по регионам:

In [ ]:
print("Вероятность риска получения отрицательного дохода в регионе 0:", len(values_0[values_0 < 0]) / len(values_0)) 
print("Вероятность риска получения отрицательного дохода в регионе 1:", len(values_1[values_1 < 0]) / len(values_1)) 
print("Вероятность риска получения отрицательного дохода в регионе 2:", len(values_2[values_2 < 0]) / len(values_2))

Наиболее перспективный регион с точки зрения предложенных показателей - регион 1. Предполагаемая средняя прибыль при разработки 200 месторождений из 500 исследованных 511 289 691.39 руб. при риске получения убытков 0.01%. Риск понести убытки минимальный.